.body{
  padding: 10px;
  width: 30%;
  margin: auto;
  place-items: center;
  box-shadow: 5px 10px 15px 10px chocolate;
  border-radius: 20px;
}

.nombre{
  margin:auto;
}

.contenido{
  margin:auto;
}

.titulo{
  margin:auto;
}

.wellcome{
  color:blue;
  display: flex;
  justify-content: center;
}  

.ciudad{
  display: flex;
  justify-content: center;
  
  color:crimson;
} 

h3{
  color:green;
}

.valores{
  color:red;
}