<app-menu></app-menu>

<div class="body">
  <div class="titulo">
    <h1 class="wellcome">INFORMACION DE LA CIUDAD</h1>
  </div>

  <div class="nombre card" style="width: 18rem;">
    <h1 class="ciudad card-title">{{ name }}</h1>
  </div>  

  <div class="contenido card-body">    
      <img *ngIf="cloudIcon" src="http://openweathermap.org/img/wn/{{ cloudIcon }}@2x.png" alt="Italian Trulli">
      <p-progressSpinner *ngIf="!cloudIcon" [style]="{width: '50px', height: '50px'}" styleClass="custom-spinner" strokeWidth="8" fill="#EEEEEE" animationDuration=".5s"></p-progressSpinner>
      <h3> <span *ngIf="cloudIcon">- {{ description }} -</span> <span *ngIf="!cloudIcon">- cargando icono del servidor -</span></h3>
      <h3><i class="fas fa-heart"></i>   Temperatura: <span class="valores">{{ temperatura }} Cº</span></h3>
      <h3><i class="fas fa-heart"></i>   Temp. Máxima: <span class="valores">{{ temp_max }} Cº</span></h3>
      <h3><i class="fas fa-heart"></i>   Temp- Mínima: <span class="valores">{{ temp_min }} Cº</span></h3>
      <h3><i class="fas fa-heart"></i>   Presión: <span class="valores">{{ presion }}</span></h3>
      <h3><i class="fas fa-heart"></i>   Humedad: <span class="valores">{{ humedad }}%</span></h3>
      <h3><i class="fas fa-heart"></i>   Latitud: <span class="valores">{{ latitud }}  </span></h3>
      <h3><i class="fas fa-heart"></i>   Longitud: <span class="valores">{{ longitud }}</span></h3>
  </div>
  
</div>
